<div data-controller="hex-button" class="hex-button" data-row="<%= tile.x %>" data-col="<%= tile.y %>" data-spacer="<%= spacer %>" data-tile-id="<%= tile.id %>" data-has-village="<%= tile.village.present? %>">

</div>