<div data-controller="build">
  <button data-build-target="buildButton" id="build-button" data-test="build-button">Build</button>
  <div data-build-target="buildDropdown" id="build-dropdown" style="display: none;">
    <%= form_with model: [@village, VillageBuilding.new], local: true do |form| %>
    <% @buildings.each do |building| %>
        <div>
          <label>
            <%= radio_button_tag 'village_building[building_id]', building.id, false, disabled: !@village.has_required_resources?(building) %>
            <strong><%= building.name %></strong>
            <ul>
              <% building.costs.each do |cost| %>
                <li><%= cost.quantity %> <%= cost.tag.name %></li>
              <% end %>
            </ul>
          </label>
        </div>
      <% end %>      <%= form.submit "Build", data: { test: "form-submit-button" } %>
    <% end %>
  </div>
</div>
