<div data-controller="build">
  <button data-build-target="buildButton" id="build-button" data-test="build-button">Build</button>
  <div data-build-target="buildDropdown" id="build-dropdown">
    <%= form_with model: [@village, VillageBuilding.new], local: true do |form| %>
      <% @buildings.each do |building| %>
        <div>
          <label>
            <%= radio_button_tag 'village_building[building_id]', building.id, false, disabled: !@village.has_required_resources?(building), data: { action: "change->build#toggleResourceSelectors", building_id: building.id } %>
            <strong><%= building.name %></strong>
            <ul>
              <% building.costs.each do |cost| %>
                <li><%= cost.quantity %> <%= cost.tag.name %></li>
              <% end %>
            </ul>
          </label>
          <%= render partial: 'resource_selectors', locals: { building: building } %>
        </div>
      <% end %>
      <%= form.submit "Build", data: { test: "form-submit-button", "build-target": "formSubmitButton" }, disabled: true %>
    <% end %>
  </div>
</div>
