<%= link_to 'Home', root_path %>
<h1><%= current_user.username %>'s Village</h1>
<p>Welcome to your village, <%= current_user.username %>!</p>
<h2>Resources</h2>
<div id="resources-list" data-controller="auto-refresh" data-auto-refresh-url-value="<%= resources_stream_village_path(@village, format: :turbo_stream) %>">
  <div id="resources-list-content">
    <%= render 'villages/resources_list', village_resources: @village_resources %>
  </div>
</div>
<%= render 'build_form', village: @village, buildings: @buildings %>
<%= render 'built_buildings', buildings: @village.buildings %>
